@charset "UTF-8";
@import url("reset.css");

body { margin: 15px 20px }

#titulo1 {
	color: green ;
}
.cajaTitulo {
	color : orange !important ;
}

h1 { 
	color: blue !important;
	margin: inherit;
}
header {
	border-bottom: 5px solid #4398b4;
	padding-top: 12px;
	margin: 20px 15px; 
	color: red;
}



label { display:none; }