<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/RWD/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
  
    <div class="container-fluid">
    	<header class="row">
    		<div class="col"><h1>header</h1></div>
    	</header>
        <nav class="row">
        	<div class="col"><h2>Nav</h2></div>
    	</nav>
	</div>
    <div class="container">
    	<main class="row">
    		<section class="col-12 col-md-7 order-md-2">
    			<h3>section</h3>
    		</section>
    		<aside class="col-12 col-md-3 order-md-1">
    			<h3>aside 1</h3>
    		</aside>
    		<aside class="col-12 col-md-2 order-md-3">
    			<h3>aside 2</h3>
    		</aside>
    	</main>
    </div>
    
    <div class="container-fluid">
    	<footer class="row">
    		<div class="col"><h2>Footer</h2></div>
    	</footer>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  </body>
</html>